body {
    height: 100vh;
}

header {
    height: 100px;
    width: 100%;
}

.header__container {
    height: 100%;
    width: 50%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__profile {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.header-buttons__container {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}

img {
    border-radius: 50%;
    width: 41px;
    height: 41px;
}

.divider__container{
    height: 40px;
    width: 100%;
    background-color: var(--gray600);
    display: flex;
    align-items: center;
}

.feed-divider {
    display: block;
  
    margin: 0 auto;
    width: 50%;
    color: var(--gray300);
    font-size: 1.25rem;
    font-weight: 400;
}

main {
    width: 50%;
    margin: 0 auto;
    margin-top: 3.2rem;
}

.post-list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

li {
    margin-bottom: 3.1rem;
}

.post-header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.post-info__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.5rem;
}

.usercard {
    display: flex;
    align-items: center;
    gap: 1.2rem;
}

article {
    margin-top: 1.5rem;
}

article > h3 {
    margin-bottom: 1rem;
}

article > p {
    margin-bottom: 1rem;
}

dialog {
    width: 50%;
    border-radius: 4px;
    margin: 0 auto;
    position: absolute;
    margin-top: 40px;
    height:fit-content;
    border: none;
}

.post__inner-container {
    display: flex;
    flex-direction: column;
    padding: 1.2rem 1.2rem;
}

.success-alert__modal {
    position: fixed;
    top: 75%;
    left: 75%;
    width: 440px;
    height: 125px;
}

.success-modal__inner-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1.2rem 1.2rem;

}

.success-modal__inner-container > h3 {
    color: var(--sucess100);
}

.success-modal__inner-container > button {
    position: absolute;
    right: 10px;
    top: 10px;
}

.input__box {
    display: flex;
    flex-direction: column;
    gap: 1.rem;
    padding: 2rem 0;
}

.input__box > label {
    margin-bottom: 1rem;
}

.create-post__container, .update-post__container {
    display: flex;
    flex-direction: column;
    padding: 1.3rem 1.3rem;
    gap: 1.5rem;
}
